{% extends "base.html" %}

{% block content %}

<header class="container-fluid">
    <h1 class="text-danger">Here is where you can view all previous blogs</h1>
</header>


<main>

    <br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Blog Name</th>
            <th scope="col">Brief description</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td><a href="#">My first Post</a></td>
            <td>This link no longer works</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="#">Does not Work</a></td>
            <td>Do not Click</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="#">Does not Work</a></td>
            <td>Do not Click</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>None of these posts work now.</td>
                <td>Do not click on them</td>
            </tr>
        </tfoot>
      </table>    

{% endblock content %}
